{% macro render_candidate(candi) %}
    <div class="item">
        <img src=  {{ url_for('static',filename=candi['pic_path'])}} class="pic">
        <div class="content">
        <h3 id="name">Name: {{ candi['first_name'] }} {{ candi['last_name'] }}</h3>
        <h2 id="rollno">Roll Number: {{ candi['roll_num'] }}</h2>
        <br>
        <div id="batch">Batch: {{ candi['batch'] }}</div>
        <h2>Course: {{ candi['course'] }}</h2>
        <h2>Department: {{ candi['department'] }}</h2>
        <p id="agenda">Agenda: {{ candi['agenda'] }}</p>
        </div>
    </div>
{% endmacro %}