{% extends "base.html" %}

{% block title %}
Voting -- Dashboard
{%  endblock %}

{% block styles %}
{{ super() }}

<script src="https://cdn.jsdelivr.net/momentjs/2.9.0/moment.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.bundle.min.js"></script>

{% endblock %}

{% block content %}


<!-- Display Graph Post1 Graph-->
<article class="graph_display">
  <p>
  {% for roll_num in post1_labels %}
    {{ roll_num }}: &nbsp;&nbsp;&nbsp;&nbsp; {{candidate_names[roll_num]}}
    <br>
  {% endfor %}
  </p>
  <div class="chart-container" style="height: 500px; width: 500px">
      <canvas id="Chart1"></canvas>
  </div>

</article>


<!-- Display Graph Post1 Graph-->
<article class="graph_display">
  <p>
  {% for roll_num in post2_labels %}
    {{ roll_num }}: &nbsp;&nbsp;&nbsp;&nbsp; {{candidate_names[roll_num]}}
    <br>
  {% endfor %}
  </p>
  <div class="chart-container" style="height: 500px; width: 500px">
      <canvas id="Chart2"></canvas>
  </div>

</article>


<script>

  
 // define the chart data
  var chartData = {
    labels : [{% for item in post1_labels %}
                {{item}},
              {% endfor %}
             ],
    datasets : [{
        label: 'Votes',
        data : [{% for vote in post1_votes %}
                  {{vote}},
                {% endfor %}]
    }]
  };

  var ctx = document.getElementById("Chart1").getContext("2d");


  // create the chart using the chart canvas
  var Chart1 = new Chart(ctx, {
    type: 'bar',
    data: chartData,
    options: {
      scales: {
		  y:{
			  begginAtZero: true
				}
			}
		},
	});


</script>


<script>

  
 // define the chart data
  var chartData2 = {
    labels : [{% for item in post2_labels %}
                {{item}},
              {% endfor %}
             ],
    datasets : [{
        label: 'Votes',
        data : [{% for vote in post2_votes %}
                  {{vote}},
                {% endfor %}]
    }]
  };

  var ctx = document.getElementById("Chart2").getContext("2d");


  // create the chart using the chart canvas
  var Chart2 = new Chart(ctx, {
    type: 'bar',
    data: chartData2,
    options: {
      scales: {
		  y:{
			  begginAtZero: true
				}
			}
		},
	});


</script>


{% endblock %}


{% block scripts %}
{% endblock %}


{% block sidebar %}
{% endblock %}
