.gallery{
    padding: 1vw;
    background-color: wheat;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.gallery .item{
    margin: 1vw;
    padding: 1vw;
    background-color: aquamarine;
    width: 20vw;
    overflow-wrap: break-word
}

.gallery .item .pic{
    max-width: 20vw;
    /* max-height: */
}

.gallery .item .content{
    margin-top: 5vw;
}